<h2></h2>

<form action="/api/sessions/login" method="post">
	<label for="usuario">Usuario</label>
	<input type="text" name="usuario" />

	<label for="password">Password</label>
	<input type="text" name="password" />

	<button type="submit" class="bg-primary">Iniciar sesión</button>
</form>
<a href="/api/sessions/github"> GitHub </a>