<section class="col-6 h-75">
	<h2 class="text-center">Mi perfil</h2>

	<form action="/api/sessions/logout" class="border border-2 rounded-3 p-3 text-center">
		<p>Nombre: {{usuario.first_name}}</p>
		<p>Apellido: {{usuario.last_name}}</p>
		<p>Email: {{usuario.email}}</p>
		<p>Edad: {{usuario.age}}</p>
		<button type="submit">Desloguear</button>
	</form>
</section>