<div class="row">
	<h2 class="col-12 text-center mt-4">Registro de usuarios</h2>
	<form action="/api/sessions/register" method="POST" class="col-6 m-auto bg-dark">
		<label for="first_name" class="col-12 p-2 fw-bold text-white">Nombre</label>
		<input type="text" name="first_name" class="col-12 p-2 fw-bold text-dark" />

		<label for="last_name" class="col-12 p-2 fw-bold text-white">Apellido</label>
		<input type="text" name="last_name" class="col-12 p-2 fw-bold text-dark" />

		<label for="email" class="col-12 p-2 fw-bold text-white">Email</label>
		<input type="email" name="email" class="col-12 p-2 fw-bold text-dark" />

		<label for="password" class="col-12 p-2 fw-bold text-white">Password</label>
		<input type="text" name="password" class="col-12 p-2 fw-bold text-dark" />

		<label for="age" class="col-12 p-2 fw-bold text-white">Edad</label>
		<input type="number" name="age" class="col-12 p-2 fw-bold text-dark" />

		<button type="submit" class="m-2 p-1 fw-bolder bg-primary">Registrar</button>
		{{#if message}}
			<span class="fw-2 fw-bolder text-danger">{{message}}</span>
		{{/if}}
	</form>
</div>