<section class="col-6 row">
	<h2 class="col-12 text-center mt-4">Registro de usuarios</h2>
	<form action="/api/sessions/register" method="POST" class="border border-2 rounded-3 p-3">
		<label for="first_name" class="fs-4 form-label">Nombre</label>
		<input type="text" name="first_name" class="form-control" />

		<label for="last_name" class="fs-4 form-label">Apellido</label>
		<input type="text" name="last_name" class="form-control" />

		<label for="email" class="fs-4 form-label">Email</label>
		<input type="email" name="email" class="form-control" />

		<label for="password" class="fs-4 form-label">Password</label>
		<input type="text" name="password" class="form-control" />

		<label for="age" class="fs-4 form-label">Edad</label>
		<input type="number" name="age" class="form-control" />

		<div class="col-12 d-flex justify-content-center align-items-center my-4 gap-2">
			<button type="submit" class="p-1 rounded-2">Registrar</button>
			{{#if message}}
				<span class="fw-2 fw-bolder text-danger">{{message}}</span>
			{{/if}}
		</div>
	</form>
</section>